@import "~react-image-gallery/styles/css/image-gallery.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

p,
span {
  color: #2c2c2c;
}

div.form-container {
  display: flex;
  justify-content: center;
}

form.loginForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

input {
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  margin-bottom: 12px;
  padding: 2px 4px;
}

label {
  margin-bottom: 4px;
}

button.form-submitBtn {
  align-self: end;
  padding: 4px 8px;
}

h2.form-title {
  margin-bottom: 16px;
}

h1.pageTitle {
  text-align: center;
  margin-bottom: 36px;
  font-size: 32px;
}

p.pageDescription {
  margin-top: 36px;
}

form > textarea {
  border-radius: 4px;
  border: 1px solid #dcdcdc;
  margin-bottom: 12px;
  padding: 4px 8px;
  width: 100%;
  resize: none;
  font-size: 13px;
}

form > span.formErrors {
  color: red;
  font-size: 13px;
}

form select,
form input {
  width: 100%;
  margin-bottom: 12px;
}
form option {
  font-size: 13px;
}

form option.island {
  font-weight: 700;
}

.item-overview-display-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}

button.invis-button-wrapper {
  all: unset;
}

button.invis-button-wrapper:hover {
  cursor: pointer;
}

.radio-item {
  margin-bottom: 32px;
}
.radio-item h2 {
  font-size: 24px;
  margin-bottom: 12px;
}
.radio-item body {
  margin-bottom: 12px;
}
.radio-item img {
  width: 250px;
  height: 150px;
  object-fit: contain;

  margin-bottom: 12px;
}
.radio-item a {
  margin-bottom: 12px;
}

h2.advisor-title {
  font-size: 26px;
  margin-bottom: 12px;
}
.advisor-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}
.advisor-list {
  display: grid;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 24px;
  background: #e4e4e4;
  padding: 14px 12px 10px;
  border-radius: 6px;
  position: relative;
}

.advisor-list span {
  font-size: 18px;
  margin-bottom: 12px;
}
.advisor-list a {
  font-size: 18px;
}

a[href^="tel:"]:before {
  content: "\260e";
  margin-right: 10px;
}
a[href^="mailto:"]:before {
  content: "\1f4e7";
  margin-right: 10px;
}

.advisor-list div.advisor-kids {
  background: rgb(105, 175, 0);
  color: white;
  padding: 6px 10px;
  border-radius: 8px;
  position: absolute;
  right: 12px;
  top: 12px;
}

.advisor-list img.advisor-list-img-link {
  max-width: 350px;
  height: 150px;
  object-fit: cover;
  padding: 6px 10px;
  border-radius: 8px;
}

ul.data-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.data-list li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.list-label {
  font-size: 24px;
  background: #ccc;
  padding: 8px 10px;
}

ul.data-list span {
  flex: 0 0 25%;
  padding: 8px;
}

ul.data-list li.list-item {
  min-height: 42px;
}

ul.data-list li.list-item:nth-child(even) {
  background: #fff;
}

ul.data-list li.list-item:nth-child(odd) {
  background: rgb(242, 241, 241);
}
