.container {
  height: 100%;
  margin-bottom: 180px;
}

.headerImg {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.homeContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.quoteContainer {
  position: relative;
  height: 350px;
}

.quoteImg {
  width: 100%;
  object-fit: cover;
  height: 350px;
}

.quoteText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 32px;
  width: 60%;
  line-height: 38px;
}

.homeContent {
  padding: 46px 20%;
  text-align: center;
}

.homeContentLabel {
  font-size: 46px;
  margin-bottom: 24px;
}

.homeContentDescription {
  font-size: 20px;
  margin-bottom: 24px;
}

.homeContentLogo {
  height: 240px;
  width: auto;
  object-fit: cover;
}

@media only screen and (max-width: 960px) {
  .headerImg {
    height: 240px;
  }

  .homeContentLabel {
    font-size: 26px;
    margin-bottom: 14px;
  }

  .homeContentDescription {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .homeContentLogo {
    height: 140px;
  }

  .quoteContainer {
    position: relative;
    height: 240px;
  }

  .quoteImg {
    height: 240px;
  }

  .quoteText {
    font-size: 22px;
    width: 85%;
    line-height: 24px;
  }
}
