.row,
.setAllRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
  line-height: 32px;
}

.row > label {
  flex: 0 0 70%;
}

.setAllRow > .setAllLabel {
  flex: 0 0 70%;
  font-size: 22px;
}

.row > .options {
  flex: 0 0 30%;
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
}

.setAllRow > .options {
  flex: 0 0 30%;
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
}

.labelKey {
  font-weight: bold;
  font-size: 22px;
  text-transform: capitalize;
  flex: 0 0 15%;
}

.inputRenderer {
  flex: 0 0 55%;
  width: 100%;
}

.options > label {
  font-weight: bold;
  font-size: 22px;
}

.options > input {
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.options > button {
  border: none;
  width: 32px;
  height: 32px;
  background: darkgreen;
  border-radius: 50%;
  color: #fff;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 12px;
  cursor: pointer;
  margin-right: 22px;
}

.submitBtn {
  border-radius: 4px;
  padding: 8px 18px;
  font-size: 20px;
  color: #fff;
  background: green;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 40px;
}
