.root {
  position: relative;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 22px;
}

.editBtn {
  border-radius: 4px;
  padding: 8px 18px;
  background: #383cc1;
  border: none;
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 40px;
  cursor: pointer;
}

.editBtnCancel {
  border-radius: 4px;
  padding: 8px 18px;
  background: crimson;
  border: none;
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 40px;
  cursor: pointer;
}
