.navbarContainer {
  background-color: #383cc1;
  padding: 0 10%;
  height: 85px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuItem {
  color: #fff;
  font-weight: bold;
  text-decoration: none;

  cursor: pointer;
}

.left {
  margin-right: 1rem;
}

.right {
  margin-left: 1rem;
}
